@model IEnumerable<CoursesManagementSystem.Models.Course>

@{
    ViewBag.Title = "TraineeCourses";
}

<h2>TraineeCourses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trainer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th> 
        
        <th>
            @Html.DisplayName("Modify")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trainer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit","Course", new { id=item.Id },null) |
            @Html.ActionLink("Details", "Details", "Course", new { id = item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Course", new { id=item.Id },null)
        </td>
    </tr>
}

</table>
