@model  CoursesManagementSystem.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/shared/_AccessPagesLayout.cshtml";
}


<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- login area start -->
<div class="login-area">
    <div class="container">
        <div class="login-box ptb--100">

            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {

                <div class="login-form-head">
                    <h4>Sign In</h4>
                    <p>Hello there, Sign in and start managing your Admin Template</p>
                </div>

                @Html.Hidden("ReturnUrl", ViewBag.ReturnUrl as string);

                @Html.ValidationSummary(true)
                <div class="login-form-body">
                    <div class="form-gp">
                        @Html.LabelFor(m => m.EmailAddress)
                        @Html.TextBoxFor(m => m.EmailAddress)
                        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                        <i class="ti-email"></i>
                    </div>
                    <div class="form-gp">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


                        <i class="ti-lock"></i>
                    </div>
                    <div class="row mb-4 rmber-area">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">Remember Me</label>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#">Forgot Password?</a>
                        </div>
                    </div>

                    <div class="submit-btn-area">

                        <button id="form_submit" type="submit">Submit <i class="ti-arrow-right"></i></button>

                        <div class="login-other row mt-4">
                            <div class="col-6">
                                <a class="fb-login" href="#">Log in with <i class="fa fa-facebook"></i></a>
                            </div>
                            <div class="col-6">
                                <a class="google-login" href="#">Log in with <i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer text-center mt-5">
                        <p class="text-muted">Don't have an account?@Html.ActionLink("Register","Register","Account")</p>
                    </div>

                </div>
                if (Model != null && Model.Message != null)
                {
                    <div class="text-danger mb-3 text-center">@Model.Message</div>
                }


            }
        </div>
    </div>
</div>
@section  Scripts {
    @Scripts.Render("~/Bundles/jqueryval")
    }