@model IEnumerable<CoursesManagementSystem.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
     
        
        <th>
            @Html.DisplayNameFor(model => model.ParentCategory.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
   
        
        <td>
            @Html.DisplayFor(modelItem => item.ParentCategory.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-warning mr-2" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id },new {@class = "btn btn-danger ml-2"})
        </td>
    </tr>
}

</table>
