@model CoursesManagementSystem.Models.Course

@{
    ViewBag.Title = "Details";
    var traineeCourseModel = ViewBag.TraineeCourseModel as List<CoursesManagementSystem.Models.TraineeCourse>;


    int[] stars = new int[6];

}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="course-categries d-flex align-items-center gap-1" style="color: palegoldenrod">

                    @{
                        var categories = ViewBag.catgories as List<CoursesManagementSystem.Models.Category>;
                        int categoriesCount = categories.Count;
                        foreach (var ParentCategory in categories)
                        {
                            <a><h5>@ParentCategory.Name</h5></a>
                            if (--categoriesCount != 0)
                            {
                                <i class="fa fa-arrow-right"></i>
                            }
                        }
                    }

                </div>
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">@Model.Name</h1>
                    <p class="lead fw-normal text-white-50 mb-4">@Model.Description</p>


                    <p class="lead fw-normal text-white mb-4">Duration : @CoursesManagementSystem.Services.Utility.CalcDuration(Model.Sections.Sum(s => s.Lessons.Sum(l => l.Duration)))</p>

                    <p class="lead fw-normal text-white-50 mb-2 ">Taught By: @Html.ActionLink(Model.Trainer.Name, "TrainerDetails", "Trainer", new { Id = Model.TrainerId }, null)</p>
                    @if (traineeCourseModel != null)
                    {
                        <p class="lead fw-normal text-white-50  ">Current Enrolled: @traineeCourseModel.Count students</p>
                    }
                    <div class="mb-2" style="color:gold">
                        @{

                            for (int i = 0; i < 5; i++)
                            {

                                if (Model.Rating - i >= 1)
                                {
                                    <span class="fa fa-star"></span>
                                }
                                else if (Model.Rating - i > 0)
                                {
                                    <span class="fa fa-star-half-full"></span>
                                }
                                else
                                {
                                    <span class="fa fa-star-o"></span>
                                }
                            }
                        }
                    </div>

                    <p class="lead fw-normal text-white-50 mb-4">Created at : @Model.CreatedDate</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        @if (User.IsInRole("Trainee")) {
                            if (string.IsNullOrEmpty(ViewBag.Enrolled))
                            {

                            @Html.ActionLink("Enroll", "Enroll", "Course", new { CourseId = Model.Id }
                                        , new { @class = "btn btn-outline-primary btn-lg px-4 me-sm-3" })
                            }
                            else
                            {
                            <span class="btn btn-secondary" style="cursor:auto">Enrolled</span>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5" src="~/Uploads/Courses/@Model.ImageUrl" style="max-height:30rem;" alt="@Model.Name" />
            </div>
        </div>
    </div>
</header>
@if (Model.Topics != null)
{
    <!-- Features section-->
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="fw-bolder bg-white p-2 shadow  d-inline-block" style="border-radius:1.5rem">Topics</h2>
                </div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2 mt-4 p-5 border shadow">

                        @foreach (var topic in CoursesManagementSystem.Services.Utility.ParseString(Model.Topics))
                        {
                            <div class="col mb-1 h-100">
                                <h3 class=""><i class="fa fa-bolt text-black-50 m-4"></i>@topic</h3>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
}

@if (Model.Prerequests != null)
{
    <!-- Course Content-->
    <section class="py-5" id="features">
        <div class="container px-5 my-5 ">
            <h2 class="fw-bolder bg-white p-2 shadow  d-inline-block" style="border-radius:1.5rem">Prerequests</h2>
            <div class="row gx-5 border shadow p-5 " style="margin-top:-1rem">

                @foreach (var item in CoursesManagementSystem.Services.Utility.ParseString(Model.Prerequests))
                {
                    <h5><i class="fa fa-history text-black-50 m-3"></i> @item</h5>
                }

            </div>
        </div>
    </section> <!-- Course Content-->
}


@if (Model.Promises != null)
{
    <!-- Features section-->
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="fw-bolder bg-white p-2 shadow  d-inline-block" style="border-radius:1.5rem">What you'll learn</h2>
                </div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2 mt-4 p-5 border shadow">

                        @foreach (var promise in CoursesManagementSystem.Services.Utility.ParseString(Model.Promises))
                        {
                            <div class="col mb-1 h-100">
                                <h3 class=""><i class="fa fa-bolt text-black-50 m-4"></i>@promise</h3>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
}

<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="fw-bolder bg-white p-2 shadow  d-inline-block m-4" style="border-radius:1.5rem">Course Lessons</h2>
            </div>
            <div id="accordion5" class="according accordion-s2 gradiant-bg">
                @{ int IndexOfAccordion = 1;}
                @foreach (var sec in Model.Sections)
                {
                    string ID_Accordion = $"accordion-{IndexOfAccordion}";
                    string href_Accordion = $"#accordion-{IndexOfAccordion++}";
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link collapsed d-flex justify-content-between" data-toggle="collapse" href=@href_Accordion aria-expanded="false">
                                <h5>@sec.Name</h5>
                                <div class="info d-flex justify-content-between gap-4" style="margin-right:4rem">
                                    <h6 class="text-white">@sec.Lessons.Count Lessons</h6>
                                    <h6 class="text-white">@CoursesManagementSystem.Services.Utility.CalcDuration(sec.Lessons.Sum(l => l.Duration))</h6>
                                </div>
                            </a>
                        </div>

                        <div id=@ID_Accordion class="collapse" data-parent="#accordion5" style="">
                            <div class="card-body">

                                <ul class="list-group">

                                    @foreach (var lesson in sec.Lessons)
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-center" style=" font-weight: 600;">
                                            @lesson.Title
                                            <span class="badge badge-primary badge-pill" style="background: #00acc1; ">@CoursesManagementSystem.Services.Utility.CalcDuration(lesson.Duration)</span>
                                        </li>

                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                }
            </div>

        </div>
    </div>
</section>
<style>
    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
    }


        .rating > input {
            display: none;
        }

        .rating > label {
            position: relative;
            width: 1.1em;
            font-size: 2.5rem;
            color: #FFD700;
            cursor: pointer;
        }

            .rating > label::before {
                content: "\2605";
                position: absolute;
                opacity: 0;
            }

            .rating > label:hover:before,
            .rating > label:hover ~ label:before {
                opacity: 1 !important;
            }

        .rating > input:checked ~ label:before {
            opacity: 1;
        }

        .rating:hover > input:checked ~ label:before {
            opacity: 0.4;
        }


    .btn-grey {
        background-color: #D8D8D8;
        color: #FFF;
    }

    .rating-block {
        background-color: #FAFAFA;
        border: 1px solid #EFEFEF;
        padding: 15px 15px 20px 15px;
        border-radius: 3px;
    }

    .bold {
        font-weight: 700;
    }

    .padding-bottom-7 {
        padding-bottom: 7px;
    }

    .review-block {
        background-color: #FAFAFA;
        border: 1px solid #EFEFEF;
        padding: 15px;
        border-radius: 3px;
        margin-bottom: 15px;
    }

    .review-block-name {
        font-size: 12px;
        margin: 10px 0;
    }

    .review-block-date {
        font-size: 12px;
    }

    .review-block-rate {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .review-block-title {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .review-block-description {
        font-size: 13px;
    }
    }
</style>
@if (!string.IsNullOrEmpty(ViewBag.Enrolled))
{


    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <button class="btn btn-outline-primary" style="margin-left:10rem" id="leaveReviewBtn">Leave Review</button>
            </div>
            @using (Html.BeginForm("Review", "Course", FormMethod.Post))
            {
                @Html.Hidden("courseID", Model.Id)
                <div class="Review-box col-lg-4 mt-5 mb-lg-0 shadow p-4 m-auto" style="display:none">
                    @Html.TextArea("ReviewTitle", new { @class = "form-control mb-3 p-1 w-50 ", style = "resize:none", placeHolder = "Review Title", Required = true })
                    @Html.TextArea("Review", new { @class = "form-control mb-3 ", style = "resize:none", placeHolder = "Review Details", Required = true })

                    <div class="rating">
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-outline-danger" id="cancelBtn">Cancel</button>
                        <button class="btn btn-outline-success" id="submitBtn" value="submit">Add</button>
                    </div>
                </div>
            }
        </div>
    </div>




    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var leaveReviewBtn = document.getElementById("leaveReviewBtn");
            var reviewBox = document.querySelector(".Review-box");
            var cancelBtn = document.getElementById("cancelBtn");
            var submitBtn = document.getElementById("submitBtn");

            leaveReviewBtn.addEventListener("click", function () {
                reviewBox.style.display = "block";
                leaveReviewBtn.style.display = "none";
            });

            submitBtn.addEventListener("click", function () {
                // Get the selected rating value
                var rating = document.querySelector('input[name="rating"]:checked');
                var reviewText = document.getElementById("Review-text").value;



                // Add code to submit the form or perform an AJAX request here
            });

            cancelBtn.addEventListener("click", function (e) {
                e.preventDefault();
                reviewBox.style.display = "none";
                leaveReviewBtn.style.display = "block";

            });
        });
    </script>
}

<div class="container d-flex flex-column">
    <div class="row d-flex order-last justify-content-center">
        <div class="col-sm-7">
            <hr />

            @if (traineeCourseModel != null)
            {

                foreach (var TCmodel in traineeCourseModel)
                {
                    if (!string.IsNullOrEmpty(TCmodel.Review))
                    {
                        stars[(int)TCmodel.Rating]++;
                        <div class="review-block">
                            <div class="row">

                                <div class="col-sm-3">
                                    @*<img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">*@

                                    @*@{
                                        string traineeName = @TCmodel.Trainee?.Name ?? "You";
                                    }*@
                                    <div class="review-block-name">
                                        @Html.ActionLink(@TCmodel.Trainee.Name, "Details", "Trainee", new { area = "", id = TCmodel.TraineeID }, null)

                                    </div>
                                    <div class="review-block-date">@TCmodel.ReviewDate.Value.GetDateTimeFormats()[6]</div>
                                </div>

                                <div class="col-sm-9">
                                    <div class="review-block-rate" style="color:darkgoldenrod">


                                        @for (int i = 0; i < 5; i++)
                                        {

                                            if (TCmodel.Rating - i >= 1)
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                            else if (TCmodel.Rating - i > 0)
                                            {
                                                <span class="fa fa-star-half-full"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star-o"></span>
                                            }
                                        }

                                    </div>
                                    <div class="review-block-title">@TCmodel.ReviewTitle</div>
                                    <div class="review-block-description">@TCmodel.Review</div>
                                </div>
                            </div>

                        </div>
                    }
                }
            }
        </div>
    </div>

    <div class="row order-first d-flex justify-content-around flex-wrap">
        <div class="col-sm-3">
            <div class="rating-block">
                <h4>Average user rating</h4>


                <h2 class="bold padding-bottom-7"> @Math.Round(Model.Rating, 1)  <small>/ 5</small></h2>

                <div class="mb-2" style="color:goldenrod">


                    @for (int i = 0; i < 5; i++)
                    {

                        if (Model.Rating - i >= 1)
                        {
                            <span class="fa fa-star"></span>
                        }
                        else if (Model.Rating - i > 0)
                        {
                            <span class="fa fa-star-half-full"></span>
                        }
                        else
                        {
                            <span class="fa fa-star-o"></span>
                        }
                    }
                </div>

            </div>
        </div>


        <div class="col-sm-3">
            <h4>Rating breakdown</h4>
            <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                    <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
                </div>
                <div class="pull-left" style="width:180px;">
                    <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">@stars[5]</div>
            </div>
            <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                    <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
                </div>
                <div class="pull-left" style="width:180px;">
                    <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">@stars[4]</div>
            </div>
            <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                    <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
                </div>
                <div class="pull-left" style="width:180px;">
                    <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">@stars[3]</div>
            </div>
            <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                    <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
                </div>
                <div class="pull-left" style="width:180px;">
                    <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">@stars[2]</div>
            </div>
            <div class="pull-left">
                <div class="pull-left" style="width:35px; line-height:1;">
                    <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
                </div>
                <div class="pull-left" style="width:180px;">
                    <div class="progress" style="height:9px; margin:8px 0;">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                            <span class="sr-only">80% Complete (danger)</span>
                        </div>
                    </div>
                </div>
                <div class="pull-right" style="margin-left:10px;">@stars[1]</div>
            </div>
        </div>
    </div>


</div>

